@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Josefin Sans', sans-serif;
}

main{
  background-color: rgb(5, 5, 5);
}
header{
  background-color: rgba(0, 0, 0, 0.897);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-sizing:border-box;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index:1;
}
nav ul{
  display: flex;
  justify-content: space-around;
  width: 400px
}

.navigation-bar #logo{
  height: 70px;
  position: relative;
}

.navigation-bar ul li{
  list-style: none;
  font-size: 30px;
}

.navigation-bar a{
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.navigation:hover{
  text-decoration: underline red;
  transition: .45s;
}
/*=============================== HERO SECTION ========================================*/

.hero{
  height: 100vh;
  background-color: rgb(5, 5, 5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
.hero .short-desc{
  color: white;
}
.hero .short-desc h1{
  font-size: 35px;
}
.hero .short-desc h1 span{
  font-size: 45px;
}
.hero .profile-pic{
  height: 800px;
  width: 800px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.hero .profile-pic::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.705);
}
.hero .profile-pic img{
  height: 120%;
}

/*========================= AVION PROJECTS SECTION ==========================================*/
.project-title{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 45px;
}
.projects{
 height: 100vh;
 display: grid;
 grid-template-columns: repeat(4, 15vw);
 justify-content: center;
 justify-items: center;
 align-items: center;
 grid-gap: 10px;

}

.folders{
  width: 100%;
  overflow-y: hidden;
  position: relative;
}
.folders:hover{
  opacity: .5;
}
.folders img{
  width: 100%;
  height: 200px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.folders figcaption{
  color: white;
  text-align: center;
  font-size: 20px;
}
