*{
  margin: 0;
  padding: 0;
}
body{
background-color:cornsilk;
margin-top: 0;
margin-bottom: 0;
padding: 0;
}

div{
border: 10px double black;
margin: 20%;
margin-bottom: 0;
margin-top: 20px;
border-bottom: none;
border-top: none;
padding: 20px;
padding-bottom: 180px;

}

h1 {
font-size: 50px;
border: 3px solid black;
border-radius: 30px;
padding: 20px;

}

p {
  font-family: Cambria;
  text-align: justify;
  margin: 10px 10%;
}

address{
text-align: center;
  margin: 10px 10%;
  font-variant: small-caps;
}

a{
text-decoration: none;
font-weight: bold;
font-family: Cambria;
font-style: italic;

}