@import url('https://fonts.cdnfonts.com/css/valorant');

/* Page Section */
body {
    background-image: url("images/Cypher_BG.jpg");
    font-family: 'VALORANT', sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
}
/* End of Page Section */

/* Container Section */
.container {
    background: rgba(52, 219, 244, 0.5);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-clip: content-box;
    /* border: 10px solid  #848c8c; */
    position: relative;
    top: 15%;
}

.container h1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#1f5d6c;
    font-size: 80px;
    margin: 30px;
}

.container h2 {
    font-size: 50px;
    width: 101%;
    height: auto;
    text-align: center;
    color:white;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    overflow:auto;
    
    
}
/* End of Container Section */