
/*GALAXY-FOLD (280 x 653)*/
@media (max-width:280px) and (max-height:653px){

    /*ABOUT*/
    .section .inner{
        padding: 5px;
        
    }
    #about  p{
        font-size: 17px;
       }

    /*FEATURES*/
    .container-list dl{
        padding: 15px;
        width: 270px;
        height: 310px;
        margin: 10px;
    }
    .hole2{
        top: 210px;
        left: 150px;
    }
}

@media (max-width:320px) and (max-height:568px){
    /*BACKGROUND VIDEO*/
    .title{
        top: 150px;
    }
}

/*Pixel 2/ 2XL (411 x 731)*/
@media (min-width :411px) and (max-height: 824px){

    /*BACKGROUND-VIDEO*/
    .bg-video .big-vid{
       width: 1550px;
    }

    .title{
        height: 50vh;
    }

    /*ABOUT*/
    #about  p{
     font-size: 19px;
    }

    .section h2{
        font-size: 30px;
    }
    /*FEATURES*/

    .container-list dl{
       
        padding: 15px;
        width: 320px;
        height: 310px;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
    
    }
    
    .container-list dt{
        color: turquoise;
        font-weight: bold; 
        text-shadow:  turquoise  1px 0 8px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .container-list dd{
        font-size: 19px;
    }

    .bullet-hole{
        width: 80px;
        position: absolute;
    }

    /*  HIGH-OCTANE USES hole 1,2, 3
        GROUNDBREAKING USES hole 3, 4
        INVASION USES hole 5, 6
        DEMON HUNTER USES hole 4, 6, 2*/
    .hole1{
        
        left: 180px;
    }
    
    .hole2{
        
        top: 160px;
    }
    
    .hole3{

       top: 210px;
        left: 215px;
        
    }
    
    .hole4{
        left: 210px;
        bottom: 20px;
    }
    
    .hole5{
    
    top: 135px;
    right: 45px;
    
    }
    
    .hole6{
        top: 220px;
        right: 20px;
    }
}

/*iPAD (768 x 1024)*/
@media (min-width:768px) and (max-height: 1024px){

    /*NAVIGATION*/
    .burger li{
        height: 6px;
        width: 50px;
        margin: 10px;

    }

    #header-img{
        width: 200px;
    }

    /*BACKGROUND VIDEO*/
    .bg-video .big-vid{
        width: 1950px;
     }

    .title{
        height: 60vh;
    }
   
    .title .button{
        width: 300px;
    }
  
    /*ABOUT*/
    #about p{
        font-size: 25px;
    }
    .section .inner{
        padding: 20px;
    }
    .section h2{
        font-size: 35px;
    }

    /*FEATURE*/

    .container-list dl{
        
        padding: 25px;
        width: 500px;
        height: 350px;
        margin: 15px;
    }
    .container-list dt{
        margin-bottom: 15px;
        font-size: 30px;
    }

    .container-list dd{
        font-size: 25px;
    }

/*  HIGH-OCTANE USES hole 1,2, 3
        GROUNDBREAKING USES hole 3, 4
        INVASION USES hole 5, 6
        DEMON HUNTER USES hole 4, 6, 2*/

    .bullet-hole{
        width: 100px;
    }

    .hole1{
        left: 300px;
    }
         
    .hole2{   
        top: 150px;
    }
        
    .hole3{
        top: 250px;
        left: 255px;
            
    }
        
    .hole4{
      left: 300px;
      bottom: 20px;
    }
        
    .hole5{
        top: 35px;
        right: 45px;  
    }
        
    .hole6{
        top: 24px;
        right: 20px;
    }

    /*CHARACTERS*/

.character-container h3{
    font-size: 30px;
}

.character-container div p{
    font-size: 25px;
    padding: 20px;
}

/*VIDEO CONTAINER*/
#video-container{
    border-width:3px;
    height: 350px;
}

.embed-video .button button{
    width: 200px;
    height: 40px;
    font-size: 25px;
}

/*PLATFORM*/
        
#platform img{
    height: 450px;
}
        
#xbox1-dmc5 img{
    height: 400px;
    padding-bottom: none;
}

figcaption a{
    text-decoration: none;
    color: white;
}
    
#platform #xbox-price{
    position: relative;
    top: 10px;
}

/*REVIEWS*/

#review .inner{
    
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

}



/*iPAD PRO (1024 x 1366)-------------------------*/
@media (min-width: 1024px) and (max-height: 1366px){

/*NAVIGATION*/
.burger li{
    height: 7px;
    width: 55px;
    margin: 10px;

}

nav a{
    font-size: 50px;
}
nav .menu-screen{
    clip-path: circle(1600px at 90% 8%);
    -webkit-clip-path: circle(1600px at 90% 8%);
}

nav .transfer{
    clip-path: circle(100px at 90% 8%);
    -webkit-clip-path: circle(100px at 90% 8%);
}

#header-img{
    width: 250px;
}
/*BACKGROUND VIDEO*/
.bg-video .big-vid{
    width: 2550px;
}


.title{
    height: 70vh;
}

.title .button{
    width: 450px;
    height: 80px;
    font-size: 30px;
}   

/*ABOUT*/
    #about p{
        font-size: 35px;
    }
    .section .inner{
        padding: 28px;
    }

    .section h2{
        font-size: 40px;
        text-align: center;
    }

/*FEATURE*/

    .container-list dl{
        border-width: 2px;
        padding: 25px;
        width: 610px;
        height: 540px;
        margin: 15px;
    }
    .container-list dt{
        margin-bottom: 15px;
        font-size: 45px
    }

    .container-list dd{
        font-size: 38px
    }

/* HIGH-OCTANE USES hole 1,2, 3
    GROUNDBREAKING USES hole 3, 4
    INVASION USES hole 5, 6
    DEMON HUNTER USES hole 4, 6, 2*/
.hole1{
    left: 300px;
}
        
.hole2{    
    top: 50px;
}
        
.hole3{
    top: 250px;
    left: 255px;        
}
        
.hole4{
    left: 300px;
    bottom: 20px;
}
        
.hole5{   
top: 35px;
right: 45px;    
}
        
.hole6{
    top: 24px;
    right: 20px;
}

/*CHARACTERS*/
.character-container h3{
    font-size: 45px
}

.character-container div p{
    font-size: 35px; 
    padding: 28px;
}


/*----------EMBEDDED VIDEO----------*/
#video-container{
    border-width:3px;
    height: 400px;
}
.embed-video .button button{
    width: 200px;
    height: 40px;
    font-size: 25px;
}

/*---------PLATFORM-------*/
#platform img{
    height: 650px;
}

#xbox1-dmc5{
    align-self: center;
    justify-self: center;
}
        
#xbox1-dmc5 img{
    height: 590px;
}

#platform figcaption{
    width:400px;
    padding: 25px;
            
}

figcaption a{

    text-decoration: none;
    color: white;
    font-size: 30px;
}
        
#platform #xbox-price{
    position: relative;
    top: 10px;
}

#review .inner{
    margin: 20px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 30px;
}

#review h3{
    font-size:40px;
}
/*PLATFORM LOGO*/
.platform-logos{
    padding: 20px;
}

.platform-logos .fab{
    font-size: 50px;
}


/*SOCIAL MEDIA*/
.social-media .fab{
    margin: 15px;
    font-size: 30px;
    color: white;
}

}

/* and (min-height: 728px){ */
@media (min-width: 1025px){
    /*NAVIGATION*/
nav{
    height: 10vh;
}

.burger{
    display: none;
}

    nav .menu{
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        width: 900px;
        height: 100%;
        position: relative;
        background-color:transparent;
        flex-direction: row;
        clip-path: unset;
        -webkit-clip-path:unset;
        transition: all .6s ease-in;
    }

    nav .menu a{
        transition: .35s ease-in-out;
    }

    nav .menu a:hover{
        border-bottom: 2px solid red;
        
    }
    
    nav .nav-link{
        text-decoration: none;
        color: rgb(241, 241, 241);
        font-size: 25px;
    }

    /*BACKGROUND VIDEO*/

    .bg-video .big-vid{
        left: 0;
        width: 2020px;
        display: unset;
    }
    
    .title{
        position: absolute;
        padding: 10px;
        top: 110px;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .title img{
        width: 55%;
        display: block;
        margin-bottom: 100px;
    }
    
    .title a{
        display: block;
        align-self: center;
    }
    .title .button{
        width: 250px;
        height: 60px;
        font-size: 25px;
        font-family: 'Lora', serif;
        font-weight: 700;
    }
/*ABOUT*/

.section{
    width: 100%;
    color: white;
    text-align: justify;
}

#about{
    height: 100vh;
}
.section h2{
    align-self: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 50px;
}

#about .outer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#about .inner{
    padding: 150px;
    align-self: center;
    
}

#about p{
    font-size: 25px;
}

/*-----------FEATURE-----------*/

#features{
    height: 100vh;
}

.transparent{
    height: 100%;
}

#features .container-list{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow-x:unset;
    overflow-y: unset;
} 

#features h2{
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
    padding-top: 10px;
    padding-left: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.container-list dl{
    text-align:start;
    
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    height: 35vh;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

}

.container-list dt{
    margin-bottom: 10px;
    font-size: 30px;
}

.container-list dd{
    font-size: 20px;
}

.bullet-hole{
    width: 80px;
    opacity: .7;
    position: absolute;
}

/*CHARACTERS*/

#characters{
    height: 100vh;
}

.character-container .slide-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
}

.character-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-container .main-char{
    width: 100%;
    height: 100%;
    margin: 0;
    align-self: center;
    padding: 0;
    overflow: visible;
}

.character-container .main-char img:hover{
    transform: scale(1.3);
    cursor: pointer;
}   

.main-char img{
    display: block;
    transition: .9s ease;
    width: 45%;
}

#V img{
    width: 35%
};

.character-container h2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    font-size: 30px;
    margin: 10px;
}

.character-container .main-char .char-desc{
    display: block;
}
/*==============  CHARACTER MODAL  ====================*/
.close-modal{
    position: fixed;
    top: 50px;
    right: 100px;
    cursor: pointer;
}
.close-modal li{
    width: 40px;
    height: 5px;
    background-color: red;
    box-shadow: 1px 1px 5px red ;
    list-style: none;
    margin: 5px;
    
}
.close-modal li:nth-child(1){
    transform: translateY(100%) rotate(45deg) ;
}
.close-modal li:nth-child(2){
    transform:translateY(-100%)rotate(-45deg);
}
.character-container .modal{
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.87);
    opacity: 0;
    transition: .55s ease;
    pointer-events:none;
}

.character-container .modal img{
    display: block;
    align-self: center;
    justify-self: center;
    grid-row: 1/4;
    grid-column: 1/2;
    width: 300px;
}

.character-container .modal .caption{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 30px;
    display: grid;
    grid-template-columns: auto 90% auto;
    place-items: center;
    width: 50%;
    height: 410px;

}
.character-container .modal .inside-caption-container{
    grid-column: 2/3;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}
.character-container .modal .inside-caption{
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    place-items:center;
}
/*================= FOR V =======================*/
.character-container .modal .inside-caption-v{
    grid-template-columns:repeat(4, 100%);
}
.modal .inside-caption div{
    padding: 20px;
    width: 100%;
    display: flex;
}

.character-container .button{
    width: 30px;
}
.prev-char{
    grid-column: 1/2;
    grid-row: 1/2;
}
.next-char{
    grid-column: 3/4;
    grid-row: 1/2;
}
/*EMBEDDED VIDEO-------------*/

.embed-video{
    height: 100vh;
}
.embed-video .transparent{
    height: 100%;
}

.embed-video h2{
    align-self: flex-end;
}
#video-container{
    width: 70%;
    height: 500px;
}

#video{
    overflow-x: unset;
    height: 100%;
    width: 100%;
}


/*---------PLATFORM---------------*/
#platform{
    height: 100vh;
}

#platform .container-platform{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:   auto;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
    z-index: 1;
    padding: 15px;
}

#platform h2{
    grid-column:1/4;
    justify-self: self-start;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#platform img{
    height: 500px;
}

#xbox1-dmc5{
    padding: 5px;
    
    
}
#xbox1-dmc5 img{
    height: 455px;
   
}
#xbox1-dmc5 #xbox-price{
    position: relative;
    top: 5px;
}

#platform figcaption{
    
    width: 220px;
    text-align: center;
    font-size: 10px;
    padding: 5px;
 
}
figcaption a{
    font-size: 25px;
}

/*REVIEW*/
#review{
    height: 100vh;
}
#review .outer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.199);
}
#review h2{
    grid-row: 1/2;
    grid-column: 1/6;
    text-align:center ;
}
#review .inner{
    
    padding: 15px;
    padding-bottom:20px;
    padding-top:20px;
    box-shadow: 1px 1px 50px rgb(0, 0, 0);
    background-color: transparent;
    
}
#review .inner h3{
    text-align:left;
}

/*FOOTER*/
footer{
    grid-template-columns: auto 25%;
    grid-template-rows: auto auto auto auto auto auto;
}
.platform-logos{
    justify-content: space-around;
}
.game-genre{
    justify-content: space-around;
}
.game-genre p{
    font-size: 20px;
    color: white;
    margin: 10px;
}
.subscriber-form{
    grid-column: 2/3;
    grid-row:1/3 ;
    width: 85%;
    align-self: center;
    margin: 0;
    padding: 25px;
    font-size: 28px;
    
}
.subscriber-form input{
    width: 100%;
    margin: 0;
    margin-top: 5px;
}
.subscriber-form label{
    font-size: 25px;
    
}
footer .game-genre .mature-content, footer .game-genre .game-engine{
    width: 200px;
    margin: 5px;
}
footer .logo{
    grid-column: 1/3;
    margin: 15px;
}

.social-media{
    grid-column: 1/3;
}
.privacy{
    grid-column: 1/3;
}

/*UP BUTTON*/
.up-button.show-button{
    display: block;
    position: fixed;
    bottom:10px;
    right: 10px;
    border-radius:5px ;
    font-size: 50px;
    z-index: 6;
    padding: 5px;
}


}