*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


#header{
    background-color: rgba(0, 0, 0, 0.329);
    display: grid;
    grid-template-rows: 10rem auto auto;  
    height: 100vh;
}
/*-------------Navigation--------------*/
nav{
    position: absolute;
    top: 0;
    color: white;
    z-index: 2;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left:20px ;
    padding-right:20px ;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: .5s ease;
    animation-duration: 4s;
    animation-name: opacity;

    
}

nav.scroll{
    padding-left:8px ;
    padding-right:8px ;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.699);
    position: fixed;
}

/*NAVIGATION - MENU BUTTONS-----------------------*/

.burger{
    z-index: 5;
}
.burger li{
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 5px;
    list-style: none;
    margin: 5px;
    z-index: 5;
}

nav .menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000e0;
    flex-direction: column;
    clip-path: circle(100px at 90% -18%);
    -webkit-clip-path: circle(100px at 90% -18%);
    transition: all .6s ease-in;
}

nav .menu-screen{
    clip-path: circle(1200px at 90% 8%);
    -webkit-clip-path: circle(1200px at 90% 8%);
}

nav .transfer{
    clip-path: circle(1200px at 90% 8%);
    -webkit-clip-path: circle(1200px at 90% 8%);
}

nav .nav-link{
    text-decoration: none;
    color: rgb(241, 241, 241);
    text-shadow:  turquoise  1px 0 8px;
    font-size: 20px;
}



.logo{
    display: flex;
    justify-content: center;
    
}

#header-img{
    width: 150px;
}

/*---Background-Video-------------*/
.bg-video{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
    grid-row: 1/4;
}

.bg-video .big-vid{
    position: absolute;
    width: 1380px;
    top: -40px;
    left: -450px;
}

/* .bg-video .big-vid{
    position: absolute;
    top: -30px;
    left: -200px;
    display: none;
} */

.title{
    position: absolute;
    padding: 10px;
    top: 210px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-duration: 4s;
    animation-name: opacity;
}

@keyframes opacity{
    from {
        opacity:0%;
    }
    to {
        opacity:100%
    }
}

.title img{
    width: 100%;
    display: block;
}

.title a{
    display: block;
    align-self: center;
    
}
.title .button{
    
    width: 200px;
    height: 50px;
    box-shadow: 1px 3px 5px turquoise;
    border-top: 2px solid rgb(255, 0, 0);
    border-left: 2px solid rgb(255, 0, 0);
    border-right: 2px solid turquoise;
    border-bottom: 2px solid turquoise;

    text-decoration: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 700;
    transition: .3s ease-in;
}


.title .button:hover{
    background: rgba(67, 192, 179, 0.979);
}



/*------------ABOUT-----------*/
.section{
    width: 100%;
    color: white;
    text-align: justify;
}

#about{
    background-image: url(assets/nero-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-attachment:fixed;
}

.section .outer{
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.623);
}

.section .inner{
    padding: top 50px;
    padding: 15px;
}

.section h2{
    font-size: 30px;
    color: rgb(255, 24, 24);
    text-shadow:  rgb(255, 24, 24)  1px 0 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about p{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*SECTION CONTAINER (FEATURES - PLATFORM)*/
.transparent{
    background-color: rgba(0, 0, 0, 0.623);
    padding: 10px;
}

/*-----------FEATURES----------------*/
#features{
    background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgames%2Ffiles%2F2019%2F03%2Fbluerose.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    
}

#features .container-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow-x:auto;
    overflow-y: hidden;
} 

#features h2{
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    
}

.container-list dl{
    text-align:start;
    border-top: 1px ridge red;
    border-left:1px ridge red;
    border-right: 1px outset turquoise ;
    border-bottom: 1px outset turquoise ;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    height: 250px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;

}

dt{
    color: turquoise;
    font-weight: bold; 
    text-shadow:  turquoise  1px 0 8px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

dd{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bullet-hole{
    width: 80px;
    opacity: .7;
    position: absolute;
}

.hole1{
    
    left: 210px;
}

.hole2{
    
    left: 250px;
    top: 180px;
}

.hole3{
    top: 150px;
    left: 230px;
    
}

.hole4{
    left: 210px;
    bottom: 20px;
}

.hole5{

top: 35px;
right: 45px;

}

.hole6{
    top: 24px;
    right: 20px;
}
/*CHARACTERS*/

#characters{
    background-image: url(assets/nero-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-attachment:fixed;
}
.character-container .main-char{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.character-container img{
    width: 90%;
    display: block;
    margin: 15px;
}


.character-container h3{
    margin: 0;
    color: turquoise;
    font-size: 25px;
    text-shadow:  turquoise  1px 0 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-container .main-char{

    width: 100%;
    height: 100%;
    align-self: center;
    overflow: hidden;
    padding: 0;
}

.character-container .main-char img:hover{
    transform: scale(1.3);
    cursor: pointer;
}   

.main-char img{
    display: block;
    transition: .9s ease;
    width: 47%;
}

#V img{
    width: 35%
};

.character-container h2{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    font-size: 30px;
    margin: 10px;
}

.character-container .main-char .char-desc{
    display: block;
}

.character-container .modal{
    position: fixed;
    display: grid;
    grid-template-columns: auto 45% auto;
    grid-template-rows: auto 45% auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 3;
    opacity: 0;
    pointer-events:none;
}
.character-container .modal img{
    display: block;
    align-self: center;
    justify-self: center;
    grid-row: 1/4;
    grid-column: 1/2;
    width: 300px;
}

.character-container .modal .caption{
    align-self: center;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 33px;
}

#prev-char{
    grid-column: 1/2;
    grid-row: 2/3;
}

#next-char{
    grid-column: 3/4;
    grid-row: 2/3;
}

/*EMBEDED VIDEO---------------*/
.embed-video{
    background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgames%2Ffiles%2F2019%2F03%2Fbluerose.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    height: 100vh;
     
}

.embed-video .transparent{
  
    height: 100%;
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-rows: 20% auto;
}
.embed-video h2{
    text-align:center ;
    align-self: flex-end;
    grid-row: 1/2;
    grid-column: 1/4;
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(255, 24, 24);
    text-shadow:  rgb(255, 24, 24)  1px 0 8px;
}

#video-container{
    grid-column: 2/3;
    margin: auto;
    background-color: transparent;
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    border-top: 1px solid red;
    border-left:1px solid red ;
    border-right: 1px solid turquoise;
    border-bottom: 1px solid turquoise; 
}

#video{
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    width: 100%;
    height: 100%;
}
#video iframe{
    width: 100%;
    height: 100%;
}
.embed-video .button{
    display: block;
}

.button{
    color: white;
    transition: .3s ease-in;
    background-color: transparent;
    border: none;
    font-size: 5vh;
    height: 5vh;
    align-self: center;
}

#vid-prev{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self:self-end;
}

#vid-next{
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self:self-start;
    
}
#trailer .button:hover{
    color: turquoise;
    text-shadow: 1px 1px 10px red;
}



/*-------------PLATFORM-----------------------------*/

#platform{

    position: relative;
    background-image: url(https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgames%2Ffiles%2F2019%2F03%2Fbluerose.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;   
    background-attachment: fixed;
    height: 100vh;
}

#platform .transparent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#platform .container-platform{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:   auto;
    align-items: center;
    justify-items: center;
    overflow-x: auto;
    z-index: 1;
    padding: 15px;
}

#platform h2{
    grid-column:1/4;
    justify-self: self-start;
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
}
#platform figure{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#platform img{
    height: 350px;
}

#xbox1-dmc5{
    padding: 10px;
    
}
#xbox1-dmc5 img{
    height: 310px;
    margin: 17px;
}

#platform figcaption{
    
    width: 200px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color: black;
    border-top: 2px solid red;
    border-left:2px solid red ;
    border-right: 2px solid turquoise;
    border-bottom: 2px solid turquoise;
    transition: .4s ease-in;
}
#platform figcaption:hover{
    background-color: turquoise;
}

figcaption a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.payment-form{
    width: 360px;
    position: relative;
    background-color: #131313;
    padding-top: 10px;
    padding-bottom: 10px;
    
} 

 .payment{
    display: flex;
    align-items:stretch;
    flex-direction: column;
}

.payment-form h2{
   color: white;
   margin-top: 15px;
   margin-bottom: 5px;
   margin-left: 5px;
}

.input{
    height: 30px;
    width: 100%;
    margin-top: 5px ;
    margin-bottom: 5px ;
    font-size: 15px;
    background-color: white;
    border-style:ridge;
    border-top-color: red;
    border-left-color: red;
    border-right-color: turquoise;
    border-bottom-color: turquoise;
}

.payment img{
    width: 180px;
   
}

.payment li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#paypal {
    width: 17px;
    height: 17px;
    position: relative;
    
}

#credit{
    width: 17px;
    height: 17px;
    position: relative;
    
}

.billing, .basic-info, .address, .payment{
    background-color: white;
    border: 3px ridge black;
    
    padding: 15px;
    list-style: none;
}

.payment-form .button{
    height: 50px;
    width: 100%;
    border-radius: 15px;
    border-top-color: red;
    border-left-color: red;
    border-right-color: turquoise;
    border-bottom-color: turquoise;
    background-color: black;
    color: white;
}


/*-------Reviews----------------------------------*/
#review{
    background-image: url(assets/nero-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    background-attachment:fixed;
}

.inner h3{
    font-size: 25px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inner address{
    text-align: right;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*--------------------FOOTER--------------------------------*/
footer{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: black;
}

/*PLATFORM LOGO*/
.platform-logos{
    grid-row: 1/2;
    padding: 10px;
   display: flex;
   justify-content:space-around;
   align-items: center;
}

.platform-logos .fab{
    font-size: 35px;
    color: rgb(61, 61, 61);

}

/*FORM SUBMIT*/
.subscriber-form{
    background-color: white;
    height: 20vh;
    align-self: center;
    display: flex;
    align-items: center;
}
/*CONTENT*/
.game-genre{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.game-genre p{
    font-size: 20px;
    color: white;
}

.game-genre .mature-content, .game-genre .game-engine{
    width: 20%;
}

.game-genre img{
    width: 100%;
}

/*SOCIAL MEDIA*/
.social-media{
    display: flex;
    justify-content:center;
    
}
.social-media .fab{
    margin: 5px;
    font-size: 20px;
    color: white;
}

/*PRIVACY*/
.privacy{
    text-align: center;
    margin: 5px;
}
.privacy a{
    text-decoration: none;
    color: white;
}

.privacy a:hover{
    text-decoration-line: underline;
}

/*UP BUTTON*/
.up-button{
    display: none;
}

.up-button.show-button{
    display: block;
    position: fixed;
    bottom:5px;
    right: 5px;
    font-size: 30px;
    z-index: 6;
    padding: 5px;
}

.up-button.show-button a{
    text-decoration: none;
    color: rgb(248, 0, 0);
    text-shadow: 1px 1px 10px red;
}