body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: palevioletred;
}

.name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  width: 40vw;
  height: 40vw;
}

.white {
  /* background-color:white; */
  background-position: center;
  background-size: cover;
  background-color: white;
  filter: brightness(1.1);
}

.black {
  /* background-color:black; */
  background-position: center;
  background-size: cover;
  background-color: tomato;
  filter: brightness(1.8);
}

.chess-box {
  font-size: 3vw;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Chess pieces */
