/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(238, 250, 169, 0.308), rgba(113, 247, 191, 0.342)), url(farm.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 1500;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7a6; }
.active{ font-weight: 650; }

.active::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #3ec500c2;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}
.btn-play {top:100px;}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.429);
    animation: diceRoll .3s linear 2;
}

.dice-roll{
    animation: dice_roll .3s linear 0s 2;
}

@keyframes dice_roll{
    from{
        transform: translateX(-50%) rotate(0);
    }

    to{
        transform:translateX(-50%) rotate(2turn);
    }
}
@keyframes diceRoll{
    from{
        transform:translateX(-50%) rotate(0);
    }

    to{
        transform:translateX(-50%) rotate(2turn);
    }
}

.winner { 
    color: red; 
    font-weight: 700px;           
}
.winner::before{
    background-image: url('trophy.svg');
    background-size:cover;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";

}
.winner-wrapper{
    background-image: url(winner.gif);
    background-position: center;
    background-attachment: local;
    background-size: cover;
}
/*======Form Before Game==================*/
.form-wrapper{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    background-color: rgba(34, 34, 34, 0.664);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background-color: white;
    padding: 50px;
}
.form ul{
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.form input{
    width: 90%;
    height: 35px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}
.form #submit-button{
    margin-top: 20px;
    border: none;
    background-color:#EB4D4D;
    color: white;
}
.form #submit-button:hover{
    background-color:white;
    color:#EB4D4D;
    border: 1px solid #EB4D4D;
}

.target-score{
    pointer-events: none;
    font-family: Lato;
    text-transform: uppercase;
    color:  #555;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}