/* Landing Page CSS */
@import url("https://fonts.googleapis.com/css?family=MedievalSharp");

/* Dark Brown rgb(85,60,35) */
/* Light Brown peru */
/* Red rgb(130,25,19) */


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    color: silver;
    
}

h1 {
    color: peru;
    font-family: MedievalSharp;
    font-size: 5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

p {
    font-size: 2vw;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: peru;
    background-color: rgb(85,60,35);
    width: 2vw;
    height: 4vw;
    font-size: 3.5vw;
    outline: none;
    box-shadow: none;
}

.filter-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 9, 29, 0.8);
}

.filter-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 9, 29, 0.8);
}

section {
    scroll-margin-top: 5vw

}

/* Header */
#header {
    margin-top: 0px;
    position:sticky;
    top: 0px;
    z-index: 9999;
}

/* Navbar */
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5vw;
    background-color: black;
    /* text-shadow: 4px 4px 10px red; */
    
   
}

#nav-bar a{
    text-decoration: none;
    color: white;
    /* text-shadow: 2px 2px 5px red; */
}

.nav-item {
    margin: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
.nav-item img {
    height: 5vw;
    /* filter:drop-shadow(.1vw .1vw 1vw #ccc); */
}

.nav-item img:hover {
    filter:drop-shadow(.1vw .1vw 1vw #ccc);
}

.nav-item ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
    
}

.nav-item li:hover {
    text-shadow:.1vw .1vw 1vw #fff, .1vw .1vw 1vw #ccc;
}
#nav-bar li{
    list-style-type: none;
    margin: 1vw;
    
}

.nav-button {
    background-color: rgb(130,25,19);
    color: white;
    width: auto;
    height: 2vw;
    font-size: 2vw;
    border-radius: 1vw;
    width: fit-content;
    height: fit-content;
    border: none;
}

.nav-button:hover {
    box-shadow:.1vw .1vw 1vw rgb(248, 67, 67), .1vw .1vw 1vw #ccc;
    background-color:rgb(243, 73, 64);
}

/* Masthead */
#masthead {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("images/CK3_masthead2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    justify-content: center;
    align-items: flex-end ;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vw;
}

/* Features */
#features {
    display: none;
    background-image: url("images/Market.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: silver;
}

#features h1 {
    margin: 1vw;
}

#features p {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1vw;
}

#features .slide-show h1 {
    color: white;
    font-family: serif;
    font-size: 2vw;
}

#features .slideshow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 100%;
    width: 100%; */
}

#features .slide-show {
    width: 50vw;
    height: 35vw;
    margin: 5vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    /* background-color: black;      */
}

#features .dot {
    cursor: pointer;
    height: 1.2vw;
    width: 1.2vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
 
}

#features .slide-radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1vw;
    width: 10vw;
    height: 3vw;
}

#features .active, .dot:hover {
    background-color: peru;
  }

#features .slide{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
}

.slide .slide-title {
    height: 10%;
    width: 100%;
}

.slide .slide-description {
    height: 15%;
    width: 100%;
}

.slide img {

    height: 75%;
    width: 100%;
}

/* Videos */
#media {
    display: none;
    background-image: url("images/Diplomacy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150vh;
}

#media .filter-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 9, 29, 0.8);
}

#media video {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

#media .dot2 {
    cursor: pointer;
    height: 1.2vw;
    width: 1.2vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
 
}

#media .slide-radio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -3vw;
    margin-bottom: 1vw;
    width: 10vw;
    height: 3vw;
}

#media .active, .dot2:hover {
    background-color: peru;
  }

.video-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 18vw;
    margin-bottom: 3vw;
}

.video-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 90%;
    /* margin-bottom: 3vw; */
}

.thumbnail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    padding: 0;
    margin: 0;
    color: silver;
}

.thumbnail-container p{
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}

.thumbnail-container img:hover {
    filter:drop-shadow(.1vw .1vw 1vw #ccc);
}

/* Subscription */
#subscribe {
    display: none;
    background-image: url("images/Country.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#subscribe .filter-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: rgba(15, 9, 29, 0.8);
}

.subscribe-container {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 15vw;
    background-color: black;
    margin: 5vh;
    font-size: 1vw;
}

.subscribe-container h3 {
    display: flex;
    justify-content: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    height: 5vw;
}

.social-media img{
    height: 100%;
    width: 5vw;
}

.social-media img:hover {
    filter:drop-shadow(.1vw .1vw 1vw #ccc);
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.subscribe-container input[type=email] {
    width: 80%;
    height: 3vw;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5vw 0.5vw;
}

.subscribe-container input[type=submit] {
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 4vw;
    font-size: 2vw;
    color: peru;
    background-color: rgb(85,60,35);
    border:none;
}

/* Animations */

.fade {
    animation-name: fade;
    animation-duration: 1s;
    
}

@keyframes fade {
    from {opacity:0.2}
    to {opacity: 1.0}
}

.animate-right {
    animation-name: animate-right;
    animation-duration: 1s;
}

.animate-left {
    animation-name: animate-left;
    animation-duration: 1s;
}

/* .fade-left {
    animation-name: fade-left;
    animation-duration: 1.5s;
}

.fade-right {
    animation-name: fade-right;
    animation-duration: 1.5s;
} */

@keyframes animate-right {
    from {position: relative; right: -100%; opacity: 0;}
    to {position: relative; right: 0%; opacity: 1;}
}

@keyframes animate-left {
    from {position: relative; left: -100%; opacity: 0;}
    to {position: relative; left: 0%; opacity: 1;}
}

/* @keyframes fade-right {
    from {position: relative; right: 0%; opacity: 1;}
    to {position: relative; right: -25%; opacity: 0;}
}

@keyframes fade-left {
    from {position: relative; right: 0%; opacity: 1;}
    to {position: relative; right: 25%; opacity: 0;}
} */